@tailwind base;
@tailwind components;
@tailwind utilities;
      
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  background: #F4FFFE;

}  
body, p {
  font-family: var(--font-gotham);
}
h1, h2, h3, h4, h5, h6 {
  color: #13233B;
  font-family: var(--font-antic);
}
.button {
  color: #FFF;
  font-family: var(--font-gotham);
  font-size: 16px;
  line-height: normal;
  border-radius: 25px;
  background: #283C63;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 30px;
  height: 55px;
}
.image-grid img {
  border-radius: 22.124px;
  width: 100%;
}
.text-button {
  display: flex;
  align-items: center;
  border-radius: 53.16px;
  background: #FFF;
  justify-content: space-between;
  gap: 40px;
  position: absolute;
  bottom: -100%;
  left: 27px;
  width: calc(100% - 54px);
}

.section-title {
color: #13233B;
font-size: 40px;
line-height: normal;
text-transform: capitalize;
}
.footer-logo svg path {
  fill: #fff;
}
.footer-items ul li a {
  font-size: 14px;
  color: #686C78;
}
.footer-items ul li {
  line-height: normal;
}
.react-player video {
  border-radius: 20px;
}
.bg-icons {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background: var(--Dark-Secondary, #343538);
  display: grid;
  place-items: center;
}
.button-arrow svg path {
  fill: #686C78;
}
.about-dropdown h2.active .drop svg {
  transform: rotate(180deg);
}
.aboutslider {
  background-image: url(../assets/images/img11.png);
  background-repeat: no-repeat;
  background-size: cover;

}
.aboutslider .swiper-pagination {
    position: static;
    text-align: left;
    margin-top: 40px;
}
.aboutslider span.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
}
.aboutslider  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #283C63;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
} 
.nav-menu-list {
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 10px;
}
.menuToggleBtn {
  display: none;
}
.start svg {
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  .card-wrapper:hover .text-button {
    bottom: 19px;
    transition: 0.7s;
  }
}
@media screen and (max-width: 1024px) {
  .nav-menu {
    gap: 20px;
  }
  .nav-menu-list {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .flex-zero-auto {
    flex: 0 0 auto;
}
.section-title {
  font-size: 24px;
  line-height: 38px;
}
.custom-size svg {
  width: 80px;
  height: 80px;
}
.text-button {
  bottom: 19px;
}
.button {
  font-size: 12px;
  gap: 10px;
  padding: 10px 25px;
  height: 40px;
}
.footer-logo svg {
  width: 219px;
}
.footer-dropdowns {
  padding: 0 9px 15px;
  position: relative;
  border-bottom: 1px solid #686C78;
}
.footer-dropdowns:after {
  content: url(/_next/static/media/Line.eb1eee1a.svg);
  position: absolute;
  right: 9px;
  top: 3px;
}
.nav-menu {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 18px;
  background: #d9e0e9;
  height: 100vh;
  overflow-y: auto;
  z-index: 2;
  flex-direction: column;
}
.nav-menu.open {
  display: block;
}
.menuToggleBtn {
  display: block;
}
.nav-menu .close-btn {
  position: absolute;
  right: 18px;
  top: 6px;
  font-size: 20px;
}

}